
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$footer-height: 40px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer-height;
    background-color: #333333;
    color:#fff;
}

.no-mb {
  margin-bottom: 0;
}

.container .jumbotron, .container-fluid .jumbotron {
  margin-bottom: 0;
  color:white;
  border-radius: 0;
  background-color: #333333;

}
.jumbotron textarea {
  width:100%;
  min-height: 70px;
  margin-bottom: 10px;
  color: #000;
}

#main {
  padding:0;
}

#sidebar {
  color: white;
  height:100%;
  padding:25px;
}
#sidebar h2 {
  text-align: center;
  margin-bottom: 15px;
}

#sidebar > section {
  margin-bottom: 25px;
  border-top: 1px solid white;
}
#sidebar > section.first {
  margin-bottom: 15px;
  border-top: none;
}

div.friend > div {
  height: 125px;
  background-color: white;
  color: #000;
  padding-bottom: 50%;
}


div.friend .btn {
  padding: 5px;
  font-size: 12px;
}

div.friend h3 {
  min-height: 50px;
  font-size: 14px;
}

#posts {
  padding: 1% 10%;
}

#posts article {
  background-color: white;
  padding:5px;
  margin: 10px auto;
  color:black;
}

.userDetails {
  color:white;
}

.login-form {
  margin-top: 25px;
}
.login-form input {
  margin-top: 10px;
}
.login-form label {
  margin-right: 5px;
}

form input {
  color:black;
}

footer {
  padding-top: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  overflow:hidden;
}
footer > * {
    color:#ffffff;
}
