<!DOCTYPE html>
<html>
  <head>
  {% include 'head.html.twig' %}
  </head>
  <body>
    {% block header %}{% endblock %}
    {% block main   %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
